@import url(https://fonts.googleapis.com/css?family=Lato:100);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

* {
  box-sizing: border-box;
}

@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

body {
  background-color: rgba(0,197,228,1);
}

section {
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

p {
  color: rgba(255,255,255,1);
}

.header {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.title {
  font-family: "Pacifico", Helvetica, Arial, sans-serif;
  font-size: 3.5em;
  margin-bottom: -6px;
  animation-delay: .2s;
}

.subtitle {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 1.75em;
  margin-bottom: 50px;
  animation-delay: .5s;
  max-width: 450px;
}

.gh-button {
  display: block;
  transform: scale(.45,.45);
  margin-top: -10%;
  animation-delay: .8s;
}
